*
{
    margin: 0px;
    padding: 0px;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}


.searchbar

{
    
    height: 30px;
    padding: 2rem;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card
{
    margin-top: 20px; 
}

.img-fluid
{
    background-size: 200%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.moves
{
    max-height: 100px;
    overflow-y: scroll;
}

.type
{
    padding: 5px 10px;
  border-radius: 20px;
  font-size: 10px;
  text-align: center;
  margin: 0px 5px;
}

.spinner-border
{
    align-items: center;
    justify-content: center;
}