*
{
    margin: 0px;
    padding: 0px;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}


.searchbar

{
    
    height: 30px;
    padding: 2rem;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card
{
    margin-top: 30px;
    
}

.img-fluid
{
    background-size: 200%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.moves
{
    max-height: 100px;
    overflow-y: scroll;
}